.deleteButton {
    margin-left: 10px;
}

.buttons {
    margin: 20px 10px;
}

.todoList {
    margin: 25px auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
}


.container {
    position: relative;
    top: -650px;
    border-radius: 3px;
    padding: 20px 20px 100px 15px;
    display: block;
    background: #fff;
    width: 450px;
    margin: 15% auto 0;
}


.todoStyle {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: black;
    text-rendering: optimizeLegibility
}

.divStyle {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 600px;
    right: 400px;
    margin: auto;
}

.buttonStyle {
    margin-bottom: 0;
    padding: 20px;
    margin-left: 20%;
}